<div class="content">
		<div class="ui vertical segment sauda right">
			<h3 class="ui teal header">Informacoes da Categoria</h3>
			<p id="error" style="color: red"><%= flash[:error] %></p>
			<p id="error" style="color: red">
				<% if !flash[:messages].nil? %>
					<ul>
						<% flash[:messages].each do |message| %>
							<li><%= message %></li>
						<% end %>
					</ul>
				<% end %>
			</p>

			<form method="post" action="<%= categorias_path %>">
				<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
				<div class="ui form segment">
					<div class="field">
						<label>Descricao</label>
						<div class="ui left labeled icon input">
							<input type="text" name="categoria[descricao]" placeholder="Descricao da Categoria" />
							<i class="lock icon"></i>
						</div>
					</div>
					<div class="field">
						<label>Ativo</label>
						<div class="ui left labeled icon input">
							<input type="checkbox" name="categoria[ativo]" placeholder="Nome Ativo" />
							<i class="lock icon"></i>
						</div>
					</div>
					<input type="submit" class="ui tiny teal submit button rigth" value="Gravar" />
				</div>
			</form>
		</div>
</div>
